In [22]:
#Expanding the "+" button of page dynamically
 
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
from bs4 import BeautifulSoup
import pandas as pd
import os
from datetime import datetime
 
# Set the path to chromedriver.exe
chromedriver_path = "C:/Users/ManoharMadisetty/OneDrive - Computech Corporation/Desktop/Data Engineering Notes/Selenium/new/chromedriver-win64/chromedriver.exe"
 
# Set up the Chrome service
service = Service(chromedriver_path)
 
# Create a new instance of the Chrome driver
driver = webdriver.Chrome(service=service)
 
# Open the URL in the browser
driver.get("https://www.screener.in/company/IRFC/")
 
# Find all elements with the class 'blue-icon'
elements = driver.find_elements(By.CLASS_NAME, 'blue-icon')
 
List_df_names = ['Peer Comparision','Quarterly Results  ', 'Profit & Loss', 'Compounded Sales Growth', 'Compounded Profit Growth',
                 'Stock Price CAGR', 'Return on Equity', 'Balance Sheet', 'Cash Flows', 'Ratios', 'Shareholding Pattern', 'duplicate_Shareholding Pattern']
 
# Click on the parent button of each element
for element in elements:
    try:
        WebDriverWait(driver, 50).until(EC.element_to_be_clickable((By.XPATH, "//button[contains(@onclick, 'showSchedule')]"))).click()
    except StaleElementReferenceException:
        continue
 
# Extract HTML content after clicking elements
html_code = driver.page_source



# Use BeautifulSoup to parse the HTML
soup = BeautifulSoup(html_code, 'html.parser')
tables = soup.find_all('table')
dataframes = []
 
folder_path = os.path.join(
    "C:/Users/ManoharMadisetty/ML_Learning/","All_CSV_files")

# Check if folder exists, create it if not
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

for idx, table in enumerate(tables):
    df = pd.read_html(str(table))[0]
    dataframes.append(df)
 
    # Check if the index is within the range of List_df_names
    if idx < len(List_df_names):
        # Assign the name to the DataFrame
        df_name = List_df_names[idx]
        print(f"{df_name} DataFrame:\n{df}\n\n")
        
        filename = f"{df_name}.csv"
        # Save each DataFrame to CSV file within the folder path
        df.to_csv(os.path.join(folder_path, filename), index=False)

        # Save each DataFrame to a CSV file with the corresponding name
        # df.to_csv(f"{df_name}.csv", index=False)
 
# Quit the driver after processing
# driver.quit()

C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

Peer Comparision DataFrame:
   S.No.              Name  CMP  Rs.    P/E  Mar Cap  Rs.Cr.  Div Yld  %  \
0    1.0  Power Fin.Corpn.    377.10   6.93        124331.88        2.83
1    2.0           REC Ltd    394.80   8.14        103933.71        3.21
2    3.0           I R F C     76.04  16.36         99346.69        1.97
3    4.0  Indian Renewable     64.20  19.93         17260.83        0.00
4    5.0              IFCI     27.44    NaN          6828.99        0.00
5    6.0  Tour. Fin. Corp.    110.30  11.54           996.83        2.20
6    7.0   Guj. State Fin.     10.11    NaN            90.09        0.00
7    NaN     Median: 6 Co.     93.17  11.54         58303.76        2.08

   NP Qtr  Rs.Cr.  Qtr Profit Var  %  Sales Qtr  Rs.Cr.  Qtr Sales Var  %  \
0         6628.17              22.81           22391.00             15.80
1         3789.90              38.72           11688.24             17.40
2         1549.87              -9.59            6766.63             16.47
3          284.73                NaN            1176.62               NaN
4          174.29             -41.15             606.84             46.95
5           18.75              -4.82              57.80              0.28
6          -30.88              -1.04               0.97            977.78
7          917.30              -4.82            3971.62             16.47

   ROCE  %
0     9.08
1     9.14
2     5.32
3     8.17
4     5.38
5     9.46
6      NaN
7     8.62


Quarterly Results   DataFrame:
             Unnamed: 0 Sep 2020 Dec 2020 Mar 2021 Jun 2021 Sep 2021 Dec 2021  \
0               Sales -     3714     3932     4455     4582     4690     5096
1    YOY Sales Growth %      NaN    8.01%   38.98%   24.86%   26.28%   29.59%
2            Expenses -       19        7       51        3       28        9
3       Employee Cost %    0.04%    0.07%    0.06%    0.04%    0.05%    0.05%
4      Operating Profit     3695     3925     4404     4578     4662     5087
5                 OPM %     100%     100%      99%     100%      99%     100%
6        Other Income -        0        0        0        0        0        1
7   Other income normal     0.27     0.07     0.04     0.04     0.02     1.19
8              Interest     2700     2878     2918     3073     3157     3491
9          Depreciation        0        0        4        3        3        3
10    Profit before tax      995     1047     1483     1502     1501     1594
11                Tax %       0%       0%       0%       0%       0%       0%
12         Net Profit -      995     1047     1483     1502     1501     1594
13     Profit after tax      995     1047     1483     1502     1501     1594
14  Reported Net Profit      995     1047     1483     1502     1501     1594
15       Profit for EPS      995     1047     1483     1502     1501     1594
16        Profit for PE      995     1047     1483     1502     1501     1594
17            EPS in Rs     0.84     0.88     1.13     1.15     1.15     1.22
18              Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

   Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0      5932     5627     5810     6218     6236     6679     6767
1    33.15%   22.83%   23.88%   22.02%    5.14%   18.69%   16.47%
2        82       23       34       31       47       29       34
3     0.07%    0.05%    0.07%    0.04%    0.07%    0.04%    0.04%
4      5849     5605     5776     6188     6189     6650     6733
5       99%     100%      99%     100%      99%     100%     100%
6         1        0        1        4       36        2        1
7      1.08     0.03     0.59     3.92    36.25     1.86     0.85
8      4353     3940     4059     4554     4895     5091     5181
9         5        4        4        4        3        4        2
10     1493     1662     1714     1633     1328     1557     1550
11       0%       0%       0%       0%       0%       0%       0%
12     1492     1662     1714     1633     1328     1557     1550
13     1492     1662     1714     1633     1328     1557     1550
14     1492     1662     1714     1633     1328     1557     1550
15     1492     1662     1714     1633     1328     1557     1550
16     1492     1662     1714     1633     1328     1557     1550
17     1.14     1.27     1.31     1.25     1.02     1.19     1.19
18      NaN      NaN      NaN      NaN      NaN      NaN      NaN


Profit & Loss DataFrame:
              Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0                Sales -     4642     5550     6197     6939     7507
1         Sales Growth %      NaN   19.56%   11.67%   11.97%    8.18%
2             Expenses -        9       22       19       34       38
3   Manufacturing Cost %    0.00%    0.01%    0.01%    0.00%    0.00%
4        Employee Cost %    0.04%    0.05%    0.05%    0.04%    0.05%
5           Other Cost %    0.15%    0.33%    0.25%    0.44%    0.45%
6       Operating Profit     4633     5528     6178     6905     7468
7                  OPM %     100%     100%     100%     100%      99%
8         Other Income -        1        2        1        1        1
9      Exceptional items     0.00     0.00    -0.01    -0.01    -0.01
10   Other income normal     1.04     1.67     0.88     0.98     0.62
11              Interest     3620     4075     4607     4992     5519
12          Depreciation        0        0        0        0        0
13     Profit before tax     1013     1454     1572     1914     1950
14                 Tax %      53%      64%      55%      60%      56%
15          Net Profit -      481      522      701      758      849
16      Profit after tax      481      522      701      758      849
17   Reported Net Profit      481      522      701      758      849
18        Profit for EPS      481      522      701      758      849
19  Exceptional items AT        0        0        0        0        0
20         Profit for PE      481      522      701      758      849
21             EPS in Rs   228.73   221.76   209.04   211.58   187.50
22     Dividend Payout %      21%      21%       6%      20%      40%

   Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023    TTM
0      9047     9267    11134    13421    15771    20299    23892  25900
1    20.52%    2.43%   20.14%   20.55%   17.51%   28.72%   17.70%    NaN
2        26       38       48       66      113      123      134    141
3     0.00%    0.00%    0.00%    0.02%    0.02%    0.02%    0.02%    NaN
4     0.03%    0.06%    0.06%    0.05%    0.05%    0.05%    0.06%    NaN
5     0.25%    0.35%    0.38%    0.42%    0.65%    0.53%    0.49%    NaN
6      9021     9229    11085    13355    15657    20177    23758  25760
7      100%     100%     100%     100%      99%      99%      99%    99%
8         0        1       -0        0        0        2       41     43
9     -0.02    -0.01    -0.02    -0.01    -0.02     0.00    -0.02    NaN
10     0.28     1.24     0.00     0.07     0.35     2.22    40.68    NaN
11     6888     6638     8183    10163    11237    14075    17447  19721
12        0        0        0        0        4       14       14     13
13     2133     2592     2902     3192     4416     6090     6337   6068
14      56%      21%      22%       0%       0%       0%       0%    NaN
15      934     2055     2255     3192     4416     6090     6337   6068
16      934     2055     2255     3192     4416     6090     6337    NaN
17      934     2055     2255     3192     4416     6090     6337    NaN
18      934     2055     2255     3192     4416     6090     6337    NaN
19        0        0        0        0        0        0        0    NaN
20      934     2055     2255     3192     4416     6090     6337    NaN
21   143.08     3.15     2.40     2.69     3.38     4.66     4.85   4.65
22      40%      18%      18%       0%      31%      30%      31%    NaN


Compounded Sales Growth DataFrame:
  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                       16%
1                5 Years:                       21%
2                3 Years:                       21%
3                    TTM:                       15%


Compounded Profit Growth DataFrame:
  Compounded Profit Growth Compounded Profit Growth.1
0                10 Years:                        28%
1                 5 Years:                        25%
2                 3 Years:                        26%
3                     TTM:                        -6%


Stock Price CAGR DataFrame:
  Stock Price CAGR Stock Price CAGR.1
0        10 Years:                  %
1         5 Years:                  %
2         3 Years:                  %
3          1 Year:               129%


Return on Equity DataFrame:
  Return on Equity Return on Equity.1
0        10 Years:                13%
1         5 Years:                14%
2         3 Years:                15%
3       Last Year:                15%


Balance Sheet DataFrame:
                  Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
0             Equity Capital   2102.00   2352.00   3352.00   3584.00
1                   Reserves   3299.00   4042.00   4210.00   5098.00
2               Borrowings -  50251.00  58753.00  69917.00  71270.00
3       Long term Borrowings  46950.00  52292.00  65042.00       NaN
4      Short term Borrowings    406.00   1026.00    829.00       NaN
5          Lease Liabilities      0.00      0.00      0.00       NaN
6           Other Borrowings   2895.00   5435.00   4046.00  71270.00
7        Other Liabilities -   4424.00   5608.00   6451.00   7696.00
8             Trade Payables      0.00      0.00      0.00      0.00
9      Other liability items   4424.00   5608.00   6451.00   7696.00
10         Total Liabilities  60076.00  70755.00  83930.00  87647.00
11            Fixed Assets -     13.00     13.00     13.00     12.00
12                  Building     15.24     15.24     15.24     15.24
13                Equipments      0.41      0.30      0.53      0.55
14                 Computers      0.49      0.50      0.52      0.53
15      Furniture n fittings      0.87      1.06      0.88      0.88
16                  Vehicles      0.07      0.10      0.10      0.10
17         Intangible Assets      0.00      0.00      0.00      0.00
18        Other fixed assets      0.00      0.03      0.00      0.03
19               Gross Block     17.08     17.23     17.27     17.33
20  Accumulated Depreciation      3.99      4.30      4.66      5.32
21                      CWIP      0.00      0.00      0.00      0.00
22               Investments     15.00     13.00     11.00      9.00
23            Other Assets +  60048.00  70729.00  83906.00  87626.00
24              Total Assets  60076.00  70755.00  83930.00  87647.00

     Mar 2016   Mar 2017   Mar 2018   Mar 2019   Mar 2020   Mar 2021  \
0     4526.00    6526.00    6526.00    9380.00   11880.00   13069.00
1     6999.00    5483.00    7402.00   15648.00   18419.00   22845.00
2    87503.00  106395.00  134006.00  173933.00  234377.00  323145.00
3         NaN   99822.00  133008.00  170947.00  163388.00       0.00
4         NaN    5767.00     998.00    2986.00   70988.00       0.00
5         NaN       0.00       0.00       0.00       0.00       0.00
6    87503.00     806.00       0.00      -0.00       0.00  323145.00
7     9372.00   11245.00   13534.00    7642.00   10828.00   21423.00
8        0.00       0.00       9.00      12.00       0.00       0.00
9     9372.00   11245.00   13525.00    7630.00   10828.00   21423.00
10  108400.00  129650.00  161468.00  206604.00  275504.00  380482.00
11      12.00      12.00      11.00      11.00      11.00      45.00
12      15.24      15.24      11.23      11.23      11.23      11.23
13       0.55       0.56       0.12       0.17       0.23       0.40
14       0.60       0.61       0.08       0.16       0.30       0.43
15       0.87       0.92       0.12       0.12       0.14       0.19
16       0.10       0.10       0.03       0.25       0.25       0.25
17       0.00       0.00       0.00       0.00       0.00       0.00
18       0.04       0.05       0.04       0.07       0.07      34.46
19      17.40      17.48      11.62      12.00      12.22      46.96
20       5.64       5.97       0.33       0.73       1.17       1.60
21       0.00       0.00       0.00       0.00       0.00       0.00
22       8.00       8.00      14.00      13.00      12.00      12.00
23  108381.00  129630.00  161443.00  206579.00  275482.00  380424.00
24  108400.00  129650.00  161468.00  206604.00  275504.00  380482.00

     Mar 2022   Mar 2023   Sep 2023
0    13069.00   13069.00   13069.00
1    27928.00   32402.00   34615.00
2   388440.00  418935.00  406443.00
3        0.00       0.00  406433.00
4        0.00       0.00       0.00
5        0.00       0.00      10.00
6   388440.00  418935.00        NaN
7    20544.00   26742.00   42888.00
8        0.00       0.00      12.00
9    20544.00   26742.00   42876.00
10  449980.00  491147.00  497014.00
11      38.00      19.00      26.00
12      48.34      36.39        NaN
13       0.85       1.27        NaN
14       1.08       1.17        NaN
15       0.96       1.18        NaN
16       0.40       0.40        NaN
17       0.00       0.00       4.83
18       1.96       1.97        NaN
19      53.59      42.38        NaN
20      15.62      23.19        NaN
21       0.00       0.00       0.00
22      10.00      14.00      35.00
23  449932.00  491114.00  496953.00
24  449980.00  491147.00  497014.00


Cash Flows DataFrame:
                       Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
0  Cash from Operating Activity +       NaN       NaN       NaN       NaN
1  Cash from Investing Activity +       NaN       NaN       NaN       NaN
2  Cash from Financing Activity +       NaN       NaN       NaN       NaN
3                   Net Cash Flow       NaN       NaN       NaN       NaN

   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
0    -16378    -19455    -28076    -41748    -62701    -89907    -64412
1         2         2         2         1         1         0        -5
2     17582     18250     28075     41749     62697     90202     64266
3      1206     -1204         0         3        -2       296      -151

   Mar 2023
0    -28584
1         0
2     28643
3        60


Ratios DataFrame:
              Unnamed: 0  Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0            Debtor Days       0.0        0        0        0        0
1         Inventory Days       NaN      NaN      NaN      NaN      NaN
2           Days Payable       NaN      NaN      NaN      NaN      NaN
3  Cash Conversion Cycle       0.0        0        0        0        0
4   Working Capital Days     -27.0     -171      -17      221      295
5                 ROCE %       NaN       9%       9%       9%       8%

  Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0        0        0        0        0        0     3609     3730
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        0        0        0        0        0     3609     3730
4      263     5869     6326     7020     8137     7593     6995
5       8%       7%       6%       6%       5%       5%       5%


Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Jun 2021 Sep 2021 Dec 2021 Mar 2022 Jun 2022  \
0          Promoters +   86.36%   86.36%   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    0.86%    1.06%    1.09%    1.12%    1.02%
2               DIIs +    4.23%    3.74%    3.18%    3.20%    3.18%    3.25%
3             Public +    7.97%    9.03%    9.40%    9.34%    9.33%    9.36%
4  No. of Shareholders  1352259  1449111  1477212  1519487  1515226  1490302

  Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0   86.36%   86.36%   86.36%   86.36%   86.36%
1    1.05%    1.01%    1.15%    1.14%    1.14%
2    3.39%    2.97%    2.62%    2.02%    1.63%
3    9.19%    9.66%    9.87%   10.49%   10.88%
4  1459497  1605726  1634919  1805740  2703000


duplicate_Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Mar 2022 Mar 2023 Sep 2023
0          Promoters +   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    1.12%    1.15%    1.14%
2               DIIs +    4.23%    3.18%    2.62%    1.63%
3             Public +    7.97%    9.33%    9.87%   10.88%
4  No. of Shareholders  1352259  1515226  1634919  2703000

C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_22728\2652609893.py:57: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]